ul {
  padding: 0;
  margin: 2em;
  width: 25%;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(206, 206, 206);
  color: #AAAAAA;
  background: #111111;
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
  color: #AAAAAA;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  color: #AAAAAA;
  letter-spacing: 1px;
}

